{{ define "/myreply.html" }}

<div class="lead">
  <div>My Relpy / <a href="/mytopic">My Topic</a></div>
</div>

{{ range $i,$v:= . }}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead"> <i class="fa fa-comment-o"></i> {{ $v.TopicID }}</span>
  </div>
  <div class="panel-body">
    Me relpy:
    <p style="text-indent: 2px">
    <div>{{ $v.ReplyContent }}
    </div>
    </p>
    <div>for the floor of {{ $v.ReplyFloorTo }}</div>
    <div class="pull-right">when {{ $v.CreatedAt  }}
    </div>
    <br>
    <div class="pull-right">
      <a href="/">Show Replies</a>
    </div>
  </div>
</div>
{{ end }}

{{ end }}